# Émissions de CO2 pour les véhicules en France d'après l'ADEME

Source : [https://www.data.gouv.fr/fr/datasets/emissions-de-co2-et-de-polluants-des-vehicules-commercialises-en-france/](https://www.data.gouv.fr/fr/datasets/emissions-de-co2-et-de-polluants-des-vehicules-commercialises-en-france/)

## Installation de modules et imports

In [1]:
import os
os.system("pip install --quiet requests")

0

In [2]:
import requests
import zipfile
import pandas as pd

## Véhicules

In [3]:
file_url = "https://www.data.gouv.fr/fr/datasets/r/da84abee-6038-43ea-b316-cdaea2514f66"
file_name = "carlab_mars_2014.zip"

In [4]:
response = requests.get(file_url)

In [5]:
response.status_code

200

In [6]:
with open(file_name, 'wb') as f:
    f.write(response.content)

In [7]:
with zipfile.ZipFile(file_name, "r") as zip_obj:
    zip_obj.extractall()

In [8]:
voitures = pd.read_csv("mars-2014-complete.csv", encoding="iso-8859-1", sep=";")

In [9]:
to_drop = voitures.columns[-4:]
voitures = voitures.drop(columns=to_drop)

## Dictionnaire des variables

In [10]:
url_dico = "https://www.data.gouv.fr/fr/datasets/r/e4ed13fe-a8c3-41fb-b9a6-73f73da6dc2b"
file_name_dico = "dictionnaire_variables.xlsx"
response_dico = requests.get(url_dico)

In [11]:
with open(file_name_dico, 'wb') as f:
    f.write(response_dico.content)

In [12]:
var_dico = pd.read_excel(file_name_dico)

In [13]:
var_dico

,nom-colonne,typerubrique,longueur,légende,unité
0,lib_mrq_utac,varchar,12,la marque,NaN
1,lib_mod_doss,varchar,20,le modele du dossier,NaN
2,lib_mod,varchar,20,le modèle commercial,NaN
3,dscom,varchar,91,la désignation commerciale,NaN
4,cnit,varchar,15,le Code National d'Identification du Type (CNIT),NaN
5,tvv,varchar,36,le Type-Variante-Version (TVV) ou le type Mines,NaN
6,cod_cbr,varchar,5,le type de carburant,NaN
7,hybride,varchar,3,une information permettant d’identifier les vé...,NaN
8,puiss_admin_98,varnb,2,la puissance administrative,NaN
9,puiss_max,varnb,11,la puissance maximale (en kW),kW
10,typ_boite_nb_rapp,varchar,3,le type de boîte de vitesse et le nombre de ra...,NaN
11,conso_urb,varnb,11,"consommation urbaine de carburant (en l/100km),",litre pour 100 km
12,conso_exurb,varnb,11,"consommation mixte de carburant (en l/100km),",litre pour 100 km
13,conso_mixte,varnb,11,consommation extra urbaine de carburant (en l/...,litre pour 100 km
14,co2,varnb,3,"l'émission de CO2 (en g/km),",gramme par km
15,co_typ_1,varnb,11,le résultat d’essai de CO type I,gramme par km
16,hc,varnb,11,les résultats d’essai HC,gramme par km
17,nox,varnb,11,les résultats d’essai NOx,gramme par km
18,hcnox,varnb,11,les résultats d’essai HC+NOX,gramme par km
19,ptcl,varnb,5,le résultat d’essai de particules,gramme par km
20,masse_ordma_min,varnb,4,la masse en ordre de marche mini,kg
21,masse_ordma_max,varnb,4,la masse en ordre de marche maxi,kg
22,champ_v9,varchar,23,le champ V9 du certificat d’immatriculation qu...,NaN
23,date_maj,varchar,6,la date de la dernière mise à jour.,NaN
24,Carrosserie,varchar,19,Carrosserie,NaN
25,gamme,varchar,14,gamme,NaN

### Data cleaning

In [57]:
# renommer les colonnes qui nous interessent et ne garder qu'elles
renaming_cols = {
    "lib_mrq": "marque",
    "lib_mod": "modele",
    "dscom": "designation",
    "cod_cbr": "carburant",
    "co2": "co2_g_par_km",
    "puiss_admin_98": "chevaux_fiscaux",
    
}

to_keep = list(renaming_cols.values())
data = voitures.rename(columns=renaming_cols)[to_keep]
# renommer les valeurs dans la colonne carburant
carburants = {'GO': 'Gazole', 'ES': 'Essence', 'EL': 'Electrique'}
data.carburant = data.carburant.map(carburants)
# remplacer les NaN dans les emissions par des 0
data.co2_g_par_km = data.co2_g_par_km.fillna(0)

In [58]:
data.head()

,marque,modele,designation,carburant,co2_g_par_km,chevaux_fiscaux
0,ALFA-ROMEO,159,159 1750 Tbi (200ch),Essence,182.0,12
1,ALFA-ROMEO,159,159 1750 Tbi (200ch),Essence,186.0,12
2,ALFA-ROMEO,159,159 2.0 JTDm (136ch),Gazole,134.0,7
3,ALFA-ROMEO,159,159 2.0 JTDm (136ch),Gazole,134.0,7
4,ALFA-ROMEO,159,159 2.0 JTDm (170ch),Gazole,139.0,9

In [59]:
data.groupby('marque').mean()

              co2_g_par_km  chevaux_fiscaux
marque
ALFA-ROMEO      130.901639         7.797814
ASTON MARTIN    324.948718        38.410256
AUDI            151.464183        12.919771
BENTLEY         304.384615        48.153846
BMW             150.462203        14.362851
CADILLAC        237.973684        23.368421
CHEVROLET       179.855263        14.434211
CITROEN         128.759091         6.468182
DACIA           122.344828         5.137931
FERRARI         307.840000        52.440000
FIAT            141.875000         6.296875
FORD            158.781879         7.406040
HONDA           137.607143         6.964286
HYUNDAI         132.803922         6.941176
INFINITI        199.562500        17.687500
JAGUAR          214.179487        26.666667
JEEP            230.243243        16.432432
KIA             133.761194         6.597015
LADA            176.833333         6.000000
LAMBORGHINI     341.666667        53.388889
LANCIA          133.534483         7.017241
LAND ROVER      210.770270        21.702703
LEXUS           182.100000        18.833333
LOTUS           216.523810        21.142857
MASERATI        252.125000        29.083333
MAZDA           137.195122         8.073171
MERCEDES        207.744451        10.988515
MIA               0.000000         1.000000
MINI            128.008000         7.144000
MITSUBISHI      147.295455         8.295455
NISSAN          180.829861         7.854167
OPEL            133.533835         7.197995
PEUGEOT         130.982759         6.724138
PORSCHE         209.045872        28.458716
RENAULT         131.993750         6.662500
ROLLS-ROYCE     338.636364        44.909091
SEAT            121.101852         6.537037
SKODA           124.641221         6.572519
SMART            92.846154         3.923077
SSANGYONG       186.166667         9.500000
SUBARU          166.782609        10.260870
SUZUKI          133.068966         6.172414
TESLA             0.000000         1.000000
TOYOTA          138.614286         7.171429
VOLKSWAGEN      201.825763         8.965255
VOLVO           141.787037        10.805556

In [60]:
data[(data.marque == 'PEUGEOT') & (data.modele == '308')]

,marque,modele,designation,carburant,co2_g_par_km,chevaux_fiscaux
40362,PEUGEOT,308,308 CC 1.6 e-Hdi FAP BVM6,Gazole,119.0,6
40363,PEUGEOT,308,308 CC 1.6 THP BVA6 (155ch),Essence,175.0,9
40364,PEUGEOT,308,308 CC 1.6 THP BVM6 (155ch),Essence,160.0,9
40365,PEUGEOT,308,308 CC 1.6 Vti BVM5,Essence,155.0,7
40366,PEUGEOT,308,308 CC 2.0 HDi FAP BVA6 (160ch),Gazole,172.0,10
40367,PEUGEOT,308,308 CC 2.0 HDi FAP BVM6 (160ch),Gazole,144.0,9
40368,PEUGEOT,308,308 SW 1.6 HDi FAP BVM5 (92ch),Gazole,119.0,5
40369,PEUGEOT,308,308 SW 1.6 HDi FAP BVM5 (92ch),Gazole,119.0,5
40370,PEUGEOT,308,308 SW 1.6 VTi BVM5,Essence,155.0,7
40371,PEUGEOT,308,308 SW 1.6L e-HDi (115ch) FAP BVM6,Gazole,120.0,6
40372,PEUGEOT,308,308 SW 1.6L e-HDi (115ch) FAP BVM6 BLUE LION,Gazole,110.0,6
40373,PEUGEOT,308,308 SW 1.6L e-HDi (115ch) FAP ETG6,Gazole,119.0,6
40374,PEUGEOT,308,Nouvelle 308 1.2 THP (130ch) BVM6,Essence,107.0,6
40375,PEUGEOT,308,Nouvelle 308 1.2 THP (130ch) BVM6,Essence,110.0,7
40376,PEUGEOT,308,Nouvelle 308 1.2 Vti (82ch) BVM5,Essence,114.0,4
40377,PEUGEOT,308,Nouvelle 308 1.6 e-HDi FAP (115ch) BVM6,Gazole,100.0,6
40378,PEUGEOT,308,Nouvelle 308 1.6 e-HDi FAP (115ch) BVM6,Gazole,95.0,5
40379,PEUGEOT,308,Nouvelle 308 1.6 HDi (92ch) BVM6,Gazole,93.0,4
40380,PEUGEOT,308,Nouvelle 308 1.6 THP (125ch) BVM6,Essence,129.0,7
40381,PEUGEOT,308,Nouvelle 308 1.6 THP (155ch) BVM6,Essence,134.0,8
40382,PEUGEOT,308,Nouvelle 308 1.6 THP (155ch) BVM6,Essence,129.0,8
40383,PEUGEOT,308,Nouvelle 308 2.0 BlueHDi (150ch) BVA6,Gazole,104.0,7
40384,PEUGEOT,308,Nouvelle 308 2.0 BlueHDi (150ch) BVM6,Gazole,105.0,7
40385,PEUGEOT,308,Nouvelle 308 2.0 BlueHDi (150ch) BVM6,Gazole,99.0,7
40386,PEUGEOT,308,Nouvelle 308 SW 1.2 e-THP BVM6 (130ch),Essence,115.0,7
40387,PEUGEOT,308,Nouvelle 308 SW 1.2 THP BVM6 (130ch),Essence,113.0,7
40388,PEUGEOT,308,Nouvelle 308 SW 1.6 e-HDi BVM6 (115ch),Gazole,100.0,6
40389,PEUGEOT,308,Nouvelle 308 SW 1.6 e-HDi BVM6 (115ch),Gazole,95.0,5
40390,PEUGEOT,308,Nouvelle 308 SW 1.6 HDi BVM5 (92ch),Gazole,99.0,5
40391,PEUGEOT,308,Nouvelle 308 SW 1.6 THP (155ch) BVM6,Essence,134.0,8
40392,PEUGEOT,308,Nouvelle 308 SW 1.6 THP (155ch) BVM6,Essence,129.0,8
40393,PEUGEOT,308,Nouvelle 308 SW 2.0 BlueHDi (150ch) BVA6,Gazole,111.0,8
40394,PEUGEOT,308,Nouvelle 308 SW 2.0 BlueHDi (150ch) BVA6,Gazole,108.0,7
40395,PEUGEOT,308,Nouvelle 308 SW 2.0 BlueHDi (150ch) BVM6,Gazole,105.0,7
40396,PEUGEOT,308,Nouvelle 308 SW 2.0 BlueHDi (150ch) BVM6,Gazole,99.0,7

In [90]:
def list_makers(data):
    return data.marque.unique().tolist()

In [91]:
list_makers(data)

['ALFA-ROMEO',
 'ASTON MARTIN',
 'AUDI',
 'BENTLEY',
 'BMW',
 'CADILLAC',
 'CHEVROLET',
 'CITROEN',
 'DACIA',
 'FERRARI',
 'FIAT',
 'FORD',
 'HONDA',
 'HYUNDAI',
 'INFINITI',
 'JAGUAR',
 'JEEP',
 'KIA',
 'LADA',
 'LAMBORGHINI',
 'LANCIA',
 'LAND ROVER',
 'LEXUS',
 'LOTUS',
 'MASERATI',
 'MAZDA',
 'MERCEDES',
 'MIA',
 'MINI',
 'MITSUBISHI',
 'NISSAN',
 'OPEL',
 'PEUGEOT',
 'PORSCHE',
 'RENAULT',
 'ROLLS-ROYCE',
 'SEAT',
 'SKODA',
 'SMART',
 'SSANGYONG',
 'SUBARU',
 'SUZUKI',
 'TESLA',
 'TOYOTA',
 'VOLKSWAGEN',
 'VOLVO']

In [118]:
def show_models(data, maker):
    return data[data.marque == maker.upper()][ 'designation'].tolist()

In [119]:
show_models(data, 'peugeot')

['107 3P 1.0e Blue Lion',
 '107 3P 1.0e Blue Lion',
 '107 5P 1.0e 2-tronic Blue Lion BVMP',
 '107 5P 1.0e Blue Lion BVM5',
 '2008 1.2 Vti BVM5',
 '2008 1.2 Vti ETG5',
 '2008 1.4 Hdi FAP BVM5',
 '2008 1.6 e-Hdi FAP BVM5',
 '2008 1.6 e-Hdi FAP BVM6',
 '2008 1.6 e-Hdi FAP ETG6',
 '2008 1.6 Vti BVA',
 '2008 1.6 Vti BVM5',
 '207 CC 1.6 HDi BVM6',
 '207 CC 1.6 HDi BVM6',
 '207 CC 1.6 Vti BVA',
 '207 CC 1.6 Vti BVM5',
 '207+ 3P 1.4 HDi FAP Blue Lion',
 '207+ 5P 1.4 HDi FAP Blue Lion',
 '208 3P 1.0 Vti (68ch) BVM5',
 '208 3P 1.2 e-Vti (82ch) ETG5',
 '208 3P 1.2 Vti (82ch) BVM5',
 '208 3P 1.2 Vti (82ch) BVM5',
 '208 3P 1.4 HDi FAP (68ch) BVM5',
 '208 3P 1.6 e-HDi FAP (115ch) BVM6',
 '208 3P 1.6 e-HDi FAP (92ch) BVM5',
 '208 3P 1.6 e-HDi FAP (92ch) BVM5',
 '208 3P 1.6 e-HDi FAP (92ch) BVM5 BLUE LION',
 '208 3P 1.6 THP (155 ch) BVM6',
 '208 3P 1.6 Vti (120ch) BVA4',
 '208 3P 1.6 Vti (120ch) BVM5',
 '208 3P Gti 1.6 THP (200 ch) BVM6',
 '208 5P 1.0 Vti (68 ch) BVM5',
 '208 5P 1.2 e-Vti (82ch) ETG5',
 '208 5P 1.2 Vti (82ch) BVM5',
 '208 5P 1.2 Vti (82ch) BVM5',
 '208 5P 1.4 e-HDi FAP (68ch) BMP5 BLUE LION',
 '208 5P 1.4 HDi FAP (68 ch) BVM5',
 '208 5P 1.6 e-HDi FAP (115 ch) BVM56',
 '208 5P 1.6 e-HDi FAP (92 ch) BVM5',
 '208 5P 1.6 e-HDi FAP (92 ch) BVM5',
 '208 5P 1.6 e-HDi FAP ETG6',
 '208 5P 1.6 Vti (120ch) BVM5',
 '208 5P 1.6 Vti BVA4',
 '208 5P. 1.6 e_Hdi FAP BVM5 BLUE LION',
 '3008 1.6 e-HDi FAP (115ch) ETG6',
 '3008 1.6 HDi FAP (115ch) ETG6',
 '3008 1.6 THP (155ch) BVA6',
 '3008 1.6 THP (155ch) BVM6',
 '3008 1.6 VTi (120ch)',
 '3008 2.0 HDi FAP (150ch) BVM6',
 '3008 2.0 HDi FAP (160ch) BVA6',
 '3008 HYbrid4 2.0 HDi (163ch) ETG6 FAP + Electric (37ch)',
 '3008 HYbrid4 2.0 HDi (163ch) ETG6 FAP + Electric (37ch)',
 '308 CC 1.6 e-Hdi FAP BVM6',
 '308 CC 1.6 THP BVA6 (155ch)',
 '308 CC 1.6 THP BVM6  (155ch)',
 '308 CC 1.6 Vti BVM5',
 '308 CC 2.0 HDi FAP BVA6 (160ch)',
 '308 CC 2.0 HDi FAP BVM6  (160ch)',
 '308 SW 1.6 HDi FAP BVM5 (92ch)',
 '308 SW 1.6 HDi FAP BVM5 (92ch)',
 '308 SW 1.6 VTi BVM5',
 '308 SW 1.6L e-HDi (115ch) FAP BVM6',
 '308 SW 1.6L e-HDi (115ch) FAP BVM6 BLUE LION',
 '308 SW 1.6L e-HDi (115ch) FAP ETG6',
 'Nouvelle 308 1.2 THP (130ch) BVM6',
 'Nouvelle 308 1.2 THP (130ch) BVM6',
 'Nouvelle 308 1.2 Vti (82ch) BVM5',
 'Nouvelle 308 1.6 e-HDi FAP (115ch) BVM6',
 'Nouvelle 308 1.6 e-HDi FAP (115ch) BVM6',
 'Nouvelle 308 1.6 HDi (92ch) BVM6',
 'Nouvelle 308 1.6 THP (125ch) BVM6',
 'Nouvelle 308 1.6 THP (155ch) BVM6',
 'Nouvelle 308 1.6 THP (155ch) BVM6',
 'Nouvelle 308 2.0 BlueHDi (150ch) BVA6',
 'Nouvelle 308 2.0 BlueHDi (150ch) BVM6',
 'Nouvelle 308 2.0 BlueHDi (150ch) BVM6',
 'Nouvelle 308 SW 1.2 e-THP BVM6 (130ch)',
 'Nouvelle 308 SW 1.2 THP BVM6 (130ch)',
 'Nouvelle 308 SW 1.6 e-HDi BVM6 (115ch)',
 'Nouvelle 308 SW 1.6 e-HDi BVM6 (115ch)',
 'Nouvelle 308 SW 1.6 HDi BVM5 (92ch)',
 'Nouvelle 308 SW 1.6 THP (155ch) BVM6',
 'Nouvelle 308 SW 1.6 THP (155ch) BVM6',
 'Nouvelle 308 SW 2.0 BlueHDi (150ch) BVA6',
 'Nouvelle 308 SW 2.0 BlueHDi (150ch) BVA6',
 'Nouvelle 308 SW 2.0 BlueHDi (150ch) BVM6',
 'Nouvelle 308 SW 2.0 BlueHDi (150ch) BVM6',
 '4008 1.6 HDi STT FAP (115ch) BVM6',
 '4008 1.8 HDi STT 150CH FAP BVM6',
 '5008 1.6 e-HDi (115ch) FAP BMP6 7PL',
 '5008 1.6 e-HDi (115ch) FAP ETG6 5PL',
 '5008 1.6 e-HDi (115ch) FAP ETG6 BLUE LION',
 '5008 1.6 e-HDi (115ch) FAP ETG6 BLUE LION 7PL',
 '5008 1.6 HDi (115ch) FAP BVM6 5PL',
 '5008 1.6 HDi (115ch) FAP BVM6 7PL',
 '5008 1.6 HDi (115ch) FAP BVM6 7PL',
 '5008 1.6 HDi FAP BVM6 5PL',
 '5008 1.6 THP (155ch) BVA6 5PL',
 '5008 1.6 THP (155ch) BVA6 7PL',
 '5008 1.6 THP (155ch) BVM6 5PL',
 '5008 1.6 THP (155ch) BVM6 7PL',
 '5008 1.6 VTi (120ch) 5PL',
 '5008 1.6 VTi (120ch) 7PL',
 '5008 2.0 HDi FAP (150ch) BVM6 5PL',
 '5008 2.0 HDi FAP (150ch) BVM6 7PL',
 '5008 2.0 HDi FAP (160ch) BVA6 5PL',
 '5008 2.0 HDi FAP (160ch) BVA6 7PL',
 '508 1.6 e-HDi FAP BMP6 BLUE LION',
 '508 1.6 THP (155ch) BVA6',
 '508 1.6 THP (155ch) BVM6',
 '508 1.6 VTi BMP6',
 '508 1.6L e-HDi FAP BVM6',
 '508 2.0 BlueHDi FAP (160ch) BVA6',
 '508 2.0 HDi FAP (140ch) BVM6',
 '508 2.0 HDi FAP (160ch) BVA6',
 '508 2.0 HDi FAP (160ch) BVM6',
 '508 2.2 HDi FAP (200ch) BVA6',
 '508 HYbrid4 2.0 HDi FAP BMP6+Electric 37ch',
 '508 RXH 2.0 HDi FAP (163ch) ETG6 + électrique (37ch)',
 '508 SW 1.6 e-HDi FAP (115ch) BMP6 BLUE LION',
 '508 SW 1.6 e-Hdi FAP BVM6',
 '508 SW 1.6 THP (155ch) BVA6',
 '508 SW 1.6 THP (155ch) BVM6',
 '508 SW 1.6 VTi (120ch) ETG6',
 '508 SW 2.0 BlueHDi FAP (160ch) BVA6',
 '508 SW 2.0 HDi FAP (140ch) BVM6',
 '508 SW 2.0 HDi FAP (160ch) BVA6',
 '508 SW 2.0 HDi FAP (160ch) BVM6',
 '508 SW 2.2 HDi FAP (200ch) BVA6',
 '807 2.0 HDi FAP (136ch) BVM6',
 '807 2.0 HDi FAP (136ch) BVM6',
 'BIPPER Tepee 1.3 HDi (75ch)',
 'BIPPER Tepee Access1.3 HDi FAP BVM5 DANGEL TREK',
 'BIPPER Tepee Outdoor 1.3 HDi FAP BVM5 DANGEL TREK',
 'BOXER COMBI ACTIVE 9PL 2.2 e-HDi (130ch) 330 L1H1',
 'BOXER COMBI ACTIVE 9PL 2.2 e-HDi (130ch) 333 L2H2',
 'BOXER COMBI ACTIVE 9PL 2.2 e-HDi (150ch) 333 L2H2',
 'BOXER COMBI CONFORT 9PL 2.2 HDi (110ch) 330 L1H1',
 'BOXER COMBI CONFORT 9PL 2.2 HDi (110ch) 333 L2H2',
 'BOXER COMBI CONFORT 9PL 2.2 HDi (130ch) 330 L1H1',
 'BOXER Combi Premium 9P 333 L2H2 2.2 HDi (130ch) 4x4 DANGEL',
 'EXPERT Tepee 5/6/8/9 PL COURT 2.0 HDi FAP (130ch)',
 'EXPERT Tepee 5/6/8/9 PL COURT 2.0 HDi FAP (163ch)',
 'EXPERT Tepee 5/6/8/9 PL COURT 2.0 HDi FAP (163ch) BVA',
 'EXPERT Tepee 5/6/8/9 PL COURT 2.0 HDi FAP (98ch)',
 'EXPERT Tepee 5/6/8/9 PL LONG 2.0 HDi (130ch)',
 'EXPERT Tepee 5/6/8/9 PL LONG 2.0 HDi (163ch)',
 'EXPERT Tepee 5/6/8/9 PL LONG 2.0 HDi (163ch) BVA',
 'EXPERT Tepee 5/6/8/9 PL LONG 2.0 HDi (98ch)',
 'EXPERT Tepee court 8/9P 2.0 HDi (125ch) FAP 4x4 DANGEL',
 'EXPERT Tepee long 8/9P 2.0 HDi (125ch) FAP 4x4 DANGEL',
 'EXPERT Tepee long 8/9P 2.0 HDi (125ch) FAP 4x4 DANGEL',
 'ION electrique (67ch)',
 'PARTNER Tepee 1.6 e-HDi FAP (90ch) 4x4 DANGEL',
 'PARTNER Tepee 1.6 e-HDi FAP (90ch) DANGEL TREK',
 'PARTNER Tepee 1.6 HDi FAP (115ch)',
 'PARTNER Tepee 1.6 HDi FAP (115ch) 4x4 DANGEL',
 'PARTNER Tepee 1.6 HDi FAP (115ch) DANGEL TREK',
 'PARTNER Tepee 1.6 HDi FAP (75ch)',
 'PARTNER Tepee 1.6 HDi FAP (75ch) DANGEL TREK',
 'PARTNER Tepee 1.6 HDi FAP (90ch) 4x4 DANGEL',
 'PARTNER Tepee 1.6 HDi FAP (90ch) 4x4 DANGEL',
 'PARTNER Tepee 1.6 HDi FAP (90ch) DANGEL TREK',
 'PARTNER Tepee 1.6 HDi FAP (92ch)',
 'PARTNER Tepee 1.6 HDi FAP (92ch)',
 'PARTNER Tepee 1.6 HDi FAP (92ch)',
 'PARTNER Tepee 1.6 HDi FAP (92ch) 7PL',
 'PARTNER Tepee 1.6 VTi (120ch)',
 'RCZ 1.6 THP (156ch) BVA6',
 'RCZ 1.6 THP (156ch) BVM6',
 'RCZ 1.6 THP (200ch) BVM6',
 'RCZ 2.0 HDi FAP (163ch) BVM6',
 'RCZ R 1.6 THP (270ch) BVM6']

In [106]:
emission = data.loc[data.designation=="CAPTUR dCi (90ch) EDC eco2", "co2_g_par_km"].tolist()[0]

In [107]:
emission

103.0

In [113]:
def trip_emission(data, designation, distance):
    emission = data.loc[data.designation==designation, "co2_g_par_km"].tolist()[0] * distance / 1000
    print(f"Un trajet de {distance} km avec une {designation} entraîne une émission de {emission} kg de CO2.")

In [120]:
trip_emission(data, '308 CC 1.6 Vti BVM5', 100)

Un trajet de 100 km avec une 308 CC 1.6 Vti BVM5 entraîne une émission de 15.5 kg de CO2.

## Emissions moyennes par type de carburant

In [123]:
data.groupby('carburant')[['co2_g_par_km']].mean()

            co2_g_par_km
carburant
Electrique      0.000000
Essence       203.757593
Gazole        202.151853

## Emissions moyennes par marque et par type de carburant

In [131]:
carb_marque = data.groupby(['carburant', 'marque'])[['co2_g_par_km']].mean().sort_values('co2_g_par_km', ascending=True)
carb_marque

                         co2_g_par_km
carburant  marque
Electrique BMW               0.000000
           VOLKSWAGEN        0.000000
           TESLA             0.000000
           RENAULT           0.000000
           PEUGEOT           0.000000
...                               ...
Essence    BENTLEY         304.384615
           FERRARI         305.913043
           ASTON MARTIN    324.948718
           ROLLS-ROYCE     338.636364
           LAMBORGHINI     341.666667

[91 rows x 1 columns]

In [132]:
carb_marque.loc['Essence']

              co2_g_par_km
marque
SMART           112.050000
SEAT            124.062500
FIAT            127.369318
DACIA           128.181818
SKODA           131.206349
RENAULT         132.307692
TOYOTA          132.565217
LANCIA          132.838710
MITSUBISHI      133.875000
CITROEN         134.152778
KIA             134.846154
PEUGEOT         135.706897
HYUNDAI         136.384615
SUZUKI          136.578947
OPEL            139.025316
HONDA           139.250000
ALFA-ROMEO      139.259259
FORD            139.952381
MINI            142.161765
MAZDA           147.714286
VOLKSWAGEN      148.084507
LADA            166.500000
VOLVO           168.315789
AUDI            169.855422
NISSAN          169.948718
BMW             171.951456
SUBARU          180.000000
CHEVROLET       215.800000
LOTUS           216.523810
PORSCHE         220.659341
MERCEDES        222.828737
CADILLAC        237.973684
JAGUAR          252.280000
LEXUS           260.530303
INFINITI        266.500000
LAND ROVER      275.571429
MASERATI        282.388889
JEEP            287.952381
BENTLEY         304.384615
FERRARI         305.913043
ASTON MARTIN    324.948718
ROLLS-ROYCE     338.636364
LAMBORGHINI     341.666667

In [133]:
carb_marque.loc['Gazole']

            co2_g_par_km
marque
SMART          86.500000
MINI          111.122807
DACIA         112.285714
ALFA-ROMEO    116.402985
SKODA         118.558824
SEAT          118.733333
MAZDA         126.150000
SUZUKI        126.400000
CITROEN       127.455172
VOLVO         128.536232
OPEL          130.638393
PEUGEOT       131.054054
HYUNDAI       131.578947
RENAULT       131.885965
KIA           133.425000
BMW           133.746988
LANCIA        134.000000
AUDI          134.441341
LEXUS         138.615385
HONDA         141.083333
CHEVROLET     143.142857
JAGUAR        146.142857
SUBARU        146.222222
TOYOTA        150.395062
FIAT          154.890845
MITSUBISHI    157.823529
MASERATI      161.333333
INFINITI      161.714286
FORD          164.775862
PORSCHE       171.461538
NISSAN        184.012146
SSANGYONG     186.166667
LAND ROVER    186.408163
VOLKSWAGEN    202.146557
JEEP          204.734694
MERCEDES      206.662400