# Pandas

## Pandas, pour quel genre de données ?

In [ ]:
import pandas as pd

To load the pandas package and start working with it, import the package. The community agreed alias for pandas is pd, so loading pandas as pd is assumed standard practice for all of the pandas documentation.

### représentation d'une table de données pandas

![](img/01_table_dataframe.svg)

I want to store passenger data of the Titanic. For a number of passengers, I know the name (characters), age (integers) and sex (male/female) data.

In [ ]:
df = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
    }
)


df

To manually store data in a table, create a DataFrame. When using a Python dictionary of lists, the dictionary keys will be used as column headers and the values in each list as columns of the DataFrame.

A DataFrame is a 2-dimensional data structure that can store data of different types (including characters, integers, floating point values, categorical data and more) in columns. It is similar to a spreadsheet, a SQL table or the data.frame in R.

- The table has 3 columns, each of them with a column label. The column labels are respectively Name, Age and Sex.
- The column Name consists of textual data with each value a string, the column Age are numbers and the column Sex is textual data.

In spreadsheet software, the table representation of our data would look very similar:

![](01_table_spreadsheet.png)

In [ ]:
### Chaque colonne est une Series

![](01_table_series.svg)

Je m'intéresse uniquement aux données dans la colonne `Age`

In [ ]:
df["Age"]

When selecting a single column of a pandas DataFrame, the result is a pandas Series. To select the column, use the column label in between square brackets [].

<div class='alert alert-info'>
If you are familiar to Python dictionaries, the selection of a single column is very similar to selection of dictionary values based on the key.
</div>

On peut créer une Series ex-nihilo :

In [ ]:
ages = pd.Series([22, 35, 58], name="Age")
ages

A pandas Series has no column labels, as it is just a single column of a DataFrame. A Series does have row labels.

### Faire qqchose avec une series

I want to know the maximum Age of the passengers

We can do this on the DataFrame by selecting the Age column and applying max():

In [ ]:
df["Age"].max()

idem sur une simple `Series` :

In [ ]:
ages.max()

As illustrated by the max() method, you can do things with a DataFrame or Series. pandas provides a lot of functionalities, each of them a method you can apply to a DataFrame or Series. As methods are functions, do not forget to use parentheses ().

### Je veux voir des stats de base sur mes données numériques

In [ ]:
df.describe()

The describe() method provides a quick overview of the numerical data in a DataFrame. As the Name and Sex columns are textual data, these are by default not taken into account by the describe() method.

Many pandas operations return a DataFrame or a Series. The describe() method is an example of a pandas operation returning a pandas Series or a pandas DataFrame.

<div class='alert alert-info'>


This is just a starting point. Similar to spreadsheet software, pandas represents data as a table with columns and rows. Apart from the representation, also the data manipulations and calculations you would do in spreadsheet software are supported by pandas. Continue reading the next tutorials to get started!

</div>

<div class='alert alert-success'>




- Import the package, aka `import pandas as pd`
- A table of data is stored as a pandas `DataFrame`
- Each column in a `DataFrame` is a `Series`
- You can do things by applying a method to a `DataFrame` ou une`Series`

</div>

## Comment lire et écrire des données tabulaires

![](https://pandas.pydata.org/docs/_images/02_io_readwrite.svg)

Je veux analyser les données des passagers du Titanic, disponible sous la forme d'un fichier csv

In [ ]:
# création d'un sous-dossier data
!mkdir data
# téléchargement d'un fichier CSV
!curl https://raw.githubusercontent.com/pandas-dev/pandas/main/doc/data/titanic.csv > data/titanic.csv

In [ ]:
# chargement du CSV dans une DataFrame
titanic = pd.read_csv("data/titanic.csv")

pandas provides the read_csv() function to read data stored as a csv file into a pandas DataFrame. pandas supports many different file formats or data sources out of the box (csv, excel, sql, json, parquet, …), each of them with the prefix read_*.

Make sure to always have a check on the data after reading in the data. When displaying a DataFrame, the first and last 5 rows will be shown by default:

In [ ]:
titanic

Je veux voir les 8 premières lignes de la DataFrame :

In [ ]:
titanic.head(8)

To see the first N rows of a DataFrame, use the head() method with the required number of rows (in this case 8) as argument.

Similairement, la méthode `.tail(n)` affiche les `n` dernières lignes, et `.sample(n)` tire `n` lignes au hasard.

A check on how pandas interpreted each of the column data types can be done by requesting the pandas dtypes attribute:

In [ ]:
titanic.dtypes

For each of the columns, the used data type is enlisted. The data types in this DataFrame are integers (int64), floats (float64) and strings (object).

<div class='alert alert-info'>
    
When asking for the dtypes, no brackets are used! dtypes is an attribute of a DataFrame and Series. Attributes of DataFrame or Series do not need brackets. Attributes represent a characteristic of a DataFrame/Series, whereas a method (which requires brackets) do something with the DataFrame/Series as introduced in the first tutorial.

</div>

My colleague requested the Titanic data as a spreadsheet.

In [ ]:
# pour les utilisateurs d'anaconda
!conda install -c anaconda openpyxl

In [ ]:
# pour ceux qui utilisent pip directement
!pip install openpyxl

In [ ]:
# création d'un sous-dossier export
!mkdir export

# export avec la méthode .to_excel()
titanic.to_excel(
    "export/titanic.xlsx", sheet_name="passengers", index=False
)  # export vers excel

Whereas read_* functions are used to read data to pandas, the to_* methods are used to store data. The to_excel() method stores the data as an excel file. In the example here, the sheet_name is named passengers instead of the default Sheet1. By setting index=False the row index labels are not saved in the spreadsheet.

In [ ]:
titanic = pd.read_excel("export/titanic.xlsx", sheet_name="passengers")

In [ ]:
titanic.head()

Je veux un résumé technique de ma `DataFrame`

In [ ]:
titanic.info()

The method info() provides technical information about a DataFrame, so let’s explain the output in more detail:

    It is indeed a DataFrame.

    There are 891 entries, i.e. 891 rows.

    Each row has a row label (aka the index) with values ranging from 0 to 890.

    The table has 12 columns. Most columns have a value for each of the rows (all 891 values are non-null). Some columns do have missing values and less than 891 non-null values.

    The columns Name, Sex, Cabin and Embarked consists of textual data (strings, aka object). The other columns are numerical data with some of them whole numbers (aka integer) and others are real numbers (aka float).

    The kind of data (characters, integers,…) in the different columns are summarized by listing the dtypes.

    The approximate amount of RAM used to hold the DataFrame is provided as well.

<div class='alert alert-info'>


- Getting data in to pandas from many different file formats or data sources is supported by read_* functions.

- Exporting data out of pandas is provided by different to_*methods.

- The head/tail/info methods and the dtypes attribute are convenient for a first check.

</div>

## Sélectionner un sous-ensemble d'une `DataFrame`

In [ ]:
# création de la dataframe en repartant du CSV titanic
titanic = pd.read_csv("data/titanic.csv")
titanic.head()

### Comment sélectionner certaines colonnes 

![](03_subset_columns.svg)

Je veux uniquement l'âge des passagers

In [ ]:
ages = titanic["Age"]

In [ ]:
ages.head()

To select a single column, use square brackets [] with the column name of the column of interest.

Each column in a DataFrame is a Series. As a single column is selected, the returned object is a pandas Series. We can verify this by checking the type of the output:

In [ ]:
type(titanic["Age"])

And have a look at the shape of the output:

In [ ]:
titanic["Age"].shape

DataFrame.shape is an attribute (remember tutorial on reading and writing, do not use parentheses for attributes) of a pandas Series and DataFrame containing the number of rows and columns: (nrows, ncolumns). A pandas Series is 1-dimensional and only the number of rows is returned.

I’m interested in the age and sex of the Titanic passengers.

In [ ]:
age_sex = titanic[["Age", "Sex"]]

In [ ]:
age_sex.head()

To select multiple columns, use a list of column names within the selection brackets [].

<div class='alert alert-info'>

The inner square brackets define a Python list with column names, whereas the outer brackets are used to select the data from a pandas DataFrame as seen in the previous example.

</div>

The returned data type is a pandas DataFrame:

In [ ]:
type(titanic[["Age", "Sex"]])

In [ ]:
titanic[["Age", "Sex"]].shape

The selection returned a DataFrame with 891 rows and 2 columns. Remember, a DataFrame is 2-dimensional with both a row and column dimension.

### Comment sélectionner certaines lignes dans la `DataFrame`

I’m interested in the passengers older than 35 years.

In [ ]:
above_35 = titanic[titanic["Age"] > 35]

In [ ]:
above_35.head()

To select rows based on a conditional expression, use a condition inside the selection brackets [].

The condition inside the selection brackets titanic["Age"] > 35 checks for which rows the Age column has a value larger than 35:

In [ ]:
titanic["Age"] > 35

The output of the conditional expression (>, but also ==, !=, <, <=,… would work) is actually a pandas Series of boolean values (either True or False) with the same number of rows as the original DataFrame. Such a Series of boolean values can be used to filter the DataFrame by putting it in between the selection brackets []. Only rows for which the value is True will be selected.

We know from before that the original Titanic DataFrame consists of 891 rows. Let’s have a look at the number of rows which satisfy the condition by checking the shape attribute of the resulting DataFrame above_35:

In [ ]:
above_35.shape

I’m interested in the Titanic passengers from cabin class 2 and 3.

In [ ]:
class_23 = titanic[titanic["Pclass"].isin([2, 3])]
class_23.head()

Similar to the conditional expression, the isin() conditional function returns a True for each row the values are in the provided list. To filter the rows based on such a function, use the conditional function inside the selection brackets []. In this case, the condition inside the selection brackets titanic["Pclass"].isin([2, 3]) checks for which rows the Pclass column is either 2 or 3.


The above is equivalent to filtering by rows for which the class is either 2 or 3 and combining the two statements with an | (or) operator:

In [ ]:
class_23 = titanic[(titanic["Pclass"] == 2) | (titanic["Pclass"] == 3)]

class_23.head()

<div class='alert alert-info'>



When combining multiple conditional statements, each condition must be surrounded by parentheses (). Moreover, you can not use or/and but need to use the or operator | and the and operator &.


</div>

I want to work with passenger data for which the age is known.

In [ ]:
age_no_na = titanic[titanic["Age"].notna()]
age_no_na.head()

The notna() conditional function returns a True for each row the values are not an Null value. As such, this can be combined with the selection brackets [] to filter the data table.

You might wonder what actually changed, as the first 5 lines are still the same values. One way to verify is to check if the shape has changed:

In [ ]:
age_no_na.shape

### Comment sélectionner des lignes et colonnes spécifiques

![](03_subset_columns_rows.svg)

I’m interested in the names of the passengers older than 35 years.

In [ ]:
adult_names = titanic.loc[titanic["Age"] > 35, "Name"]

In [ ]:
adult_names.head()

In this case, a subset of both rows and columns is made in one go and just using selection brackets [] is not sufficient anymore. The loc/iloc operators are required in front of the selection brackets []. When using loc/iloc, the part before the comma is the rows you want, and the part after the comma is the columns you want to select.

When using the column names, row labels or a condition expression, use the loc operator in front of the selection brackets []. For both the part before and after the comma, you can use a single label, a list of labels, a slice of labels, a conditional expression or a colon. Using a colon specifies you want to select all rows or columns.

I’m interested in rows 10 till 25 and columns 3 to 5.

In [ ]:
titanic.iloc[9:25, 2:5]

    Again, a subset of both rows and columns is made in one go and just using selection brackets [] is not sufficient anymore. When specifically interested in certain rows and/or columns based on their position in the table, use the iloc operator in front of the selection brackets [].

When selecting specific rows and/or columns with loc or iloc, new values can be assigned to the selected data. For example, to assign the name anonymous to the first 3 elements of the third column:

In [ ]:
titanic.iloc[0:3, 3] = "anonymous"

In [ ]:
titanic.head()

<div class='alert alert-info'>


REMEMBER

- When selecting subsets of data, square brackets [] are used.

-   Inside these brackets, you can use a single column/row label, a list of column/row labels, a slice of labels, a conditional expression or a colon.

-   Select specific rows and/or columns using loc when using the row and column names

-   Select specific rows and/or columns using iloc when using the positions in the table

-   You can assign new values to a selection based on loc/iloc.



</div>

## Comment faire des graphes en Pandas

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
# téléchargement d'un fichier CSV
!curl https://raw.githubusercontent.com/pandas-dev/pandas/main/doc/data/air_quality_no2.csv > data/air_quality_no2.csv

In [ ]:
air_quality = pd.read_csv("data/air_quality_no2.csv", index_col=0, parse_dates=True)

air_quality.head()

<div class='alert alert-info'>



The usage of the index_col and parse_dates parameters of the read_csv function to define the first (0th) column as index of the resulting DataFrame and convert the dates in the column to Timestamp objects, respectively.
    
    
</div>

![](04_plot_overview.svg)

I want a quick visual check of the data.

In [ ]:
air_quality.plot();

With a DataFrame, pandas creates by default one line plot for each of the columns with numeric data.

I want to plot only the columns of the data table with the data from Paris.

In [ ]:
air_quality["station_paris"].plot();

To plot a specific column, use the selection method of the subset data tutorial in combination with the plot() method. Hence, the plot() method works on both Series and DataFrame.

In [ ]:
air_quality.plot.scatter(x="station_london", y="station_paris", alpha=0.5);

Apart from the default line plot when using the plot function, a number of alternatives are available to plot data. Let’s use some standard Python to get an overview of the available plot methods:

In [ ]:
[
    method_name
    for method_name in dir(air_quality.plot)
    if not method_name.startswith("_")
]

<div class='alert alert-info'>

In many development environments as well as IPython and Jupyter Notebook, use the TAB button to get an overview of the available methods, for example air_quality.plot. + TAB.

</div>

In [ ]:
air_quality.plot.box();

I want each of the columns in a separate subplot.

In [ ]:
axs = air_quality.plot.area(figsize=(12, 4), subplots=True)

Separate subplots for each of the data columns are supported by the subplots argument of the plot functions. The builtin options available in each of the pandas plot functions are worth reviewing.

I want to further customize, extend or save the resulting plot.

In [ ]:
fig, axs = plt.subplots(figsize=(12, 4))
air_quality.plot.area(ax=axs)
axs.set_ylabel("NO$_2$ concentration")
fig.savefig("export/no2_concentrations.png")

Each of the plot objects created by pandas is a matplotlib object. As Matplotlib provides plenty of options to customize plots, making the link between pandas and Matplotlib explicit enables all the power of matplotlib to the plot. This strategy is applied in the previous example:

In [ ]:
fig, axs = plt.subplots(figsize=(12, 4))  # Create an empty matplotlib Figure and Axes
air_quality.plot.area(
    ax=axs
)  # Use pandas to put the area plot on the prepared Figure/Axes
axs.set_ylabel("NO$_2$ concentration")  # Do any matplotlib customization you like
fig.savefig(
    "export/no2_concentrations.png"
)  # Save the Figure/Axes using the existing matplotlib method.

<div class="alert alert-info">


- The `.plot.*` methods are applicable on both Series and DataFrames
- By default, each of the columns is plotted as a different element (line, boxplot,…)
- Any plot created by pandas is a Matplotlib object.


</div>

## Comment créer de nouvelles colonnes dérivées des colonnes existantes

![](05_newcolumn_1.svg)

In [ ]:
air_quality = pd.read_csv("data/air_quality_no2.csv", index_col=0, parse_dates=True)

air_quality.head()

I want to express the $NO_2$ concentration of the station in London in mg/m

*(If we assume temperature of 25 degrees Celsius and pressure of 1013 hPa, the conversion factor is 1.882)*

In [ ]:
air_quality["london_mg_per_cubic"] = air_quality["station_london"] * 1.882
air_quality.head()

<div class='alert alert-info'>

The calculation of the values is done element_wise. This means all values in the given column are multiplied by the value 1.882 at once. You do not need to use a loop to iterate each of the rows!

</div>

![](05_newcolumn_2.svg)

I want to check the ratio of the values in Paris versus Antwerp and save the result in a new column

In [ ]:
air_quality["ratio_paris_antwerp"] = (
    air_quality["station_paris"] / air_quality["station_antwerp"]
)


air_quality.head()

    The calculation is again element-wise, so the / is applied for the values in each row.

Also other mathematical operators (+, -, \*, /) or logical operators (<, >, =,…) work element wise. The latter was already used in the subset data tutorial to filter rows of a table using a conditional expression.

If you need more advanced logic, you can use arbitrary Python code via apply().

    I want to rename the data columns to the corresponding station identifiers used by openAQ

In [ ]:
air_quality_renamed = air_quality.rename(
    columns={
        "station_antwerp": "BETR801",
        "station_paris": "FR04014",
        "station_london": "London Westminster",
    }
)

In [ ]:
air_quality_renamed.head()

    The rename() function can be used for both row labels and column labels. Provide a dictionary with the keys the current names and the values the new names to update the corresponding names.

The mapping should not be restricted to fixed names only, but can be a mapping function as well. For example, converting the column names to lowercase letters can be done using a function as well:

In [ ]:
air_quality_renamed = air_quality_renamed.rename(columns=str.lower)

air_quality_renamed.head()

<div class'alert alert-info'>


- Create a new column by assigning the output to the DataFrame with a new column name in between the [].
- Operations are element-wise, no need to loop over rows.
- Use rename with a dictionary or function to rename row labels or column names.



</div>

## Comment calculer des statistiques sur mes données 
Données pour cette section : Titanic

In [ ]:
# recréons notre DataFrame titanic à partir du csv
titanic = pd.read_csv("data/titanic.csv")

titanic.head()

### stats aggrégées

![](06_aggregate.svg)

What is the average age of the Titanic passengers?

In [ ]:
titanic["Age"].mean()

Different statistics are available and can be applied to columns with numerical data. Operations in general exclude missing data and operate across rows by default.

![](06_reduction.svg)

What is the median age and ticket fare price of the Titanic passengers?

In [ ]:
titanic[["Age", "Fare"]].median()

    The statistic applied to multiple columns of a DataFrame (the selection of two columns return a DataFrame, see the subset data tutorial) is calculated for each numeric column.

The aggregating statistic can be calculated for multiple columns at the same time. Remember the describe function from first tutorial?

In [ ]:
titanic[["Age", "Fare"]].describe()

Instead of the predefined statistics, specific combinations of aggregating statistics for given columns can be defined using the DataFrame.agg() method:

In [ ]:
titanic.agg(
    {
        "Age": ["min", "max", "median", "skew"],
        "Fare": ["min", "max", "median", "mean"],
    }
)

## Aggregating statistics grouped by category

![](06_groupby.svg)

What is the average age for male versus female Titanic passengers?

In [ ]:
titanic[["Sex", "Age"]].groupby("Sex").mean()

As our interest is the average age for each gender, a subselection on these two columns is made first: titanic[["Sex", "Age"]]. Next, the groupby() method is applied on the Sex column to make a group per category. The average age for each gender is calculated and returned.

https://pandas.pydata.org/docs/_images/06_groupby.svg

Calculating a given statistic (e.g. mean age) for each category in a column (e.g. male/female in the Sex column) is a common pattern. The groupby method is used to support this type of operations. More general, this fits in the more general split-apply-combine pattern:

- Split the data into groups
- Apply a function to each group independently
- Combine the results into a data structure

The apply and combine steps are typically done together in pandas.

In the previous example, we explicitly selected the 2 columns first. If not, the mean method is applied to each column containing numerical columns:

In [ ]:
titanic.groupby("Sex").mean()

It does not make much sense to get the average value of the Pclass. if we are only interested in the average age for each gender, the selection of columns (rectangular brackets [] as usual) is supported on the grouped data as well:

In [ ]:
titanic.groupby("Sex")["Age"].mean()

![](06_groupby_select_detail.svg)

<div class='alert alert-info'>

The Pclass column contains numerical data but actually represents 3 categories (or factors) with respectively the labels ‘1’, ‘2’ and ‘3’. Calculating statistics on these does not make much sense. Therefore, pandas provides a Categorical data type to handle this type of data. More information is provided in the user guide Categorical data section.

</div>

What is the mean ticket fare price for each of the sex and cabin class combinations?

In [ ]:
titanic.groupby(["Sex", "Pclass"])["Fare"].mean()

Grouping can be done by multiple columns at the same time. Provide the column names as a list to the groupby() method.

### Compter le nombre d’enregistrements par catégorie

![](06_valuecounts.svg)

    The value_counts() method counts the number of records for each category in a column.

The function is a shortcut, as it is actually a groupby operation in combination with counting of the number of records within each group:

In [ ]:
titanic.groupby("Pclass")["Pclass"].count()

<div class='alert alert-info'>


Both size and count can be used in combination with groupby. Whereas size includes NaN values and just provides the number of rows (size of the table), count excludes the missing values. In the value_counts method, use the dropna argument to include or exclude the NaN values.

</div>

<div class='alert alert-warning'>



- Aggregation statistics can be calculated on entire columns or rows
- groupby provides the power of the split-apply-combine pattern
- value_counts is a convenient shortcut to count the number of entries in each category of a variable

    
</div>

## How to reshape the layout of tables

### Données pour cette section

In [ ]:
titanic = pd.read_csv("data/titanic.csv")

In [ ]:
# téléchargement d'un fichier CSV
!curl https://raw.githubusercontent.com/pandas-dev/pandas/main/doc/data/air_quality_long.csv > data/air_quality_long.csv

In [ ]:
air_quality = pd.read_csv(
    "data/air_quality_long.csv", index_col="date.utc", parse_dates=True
)

In [ ]:
air_quality.head()

### Classer les lignes de la `DataFrame`

I want to sort the Titanic data according to the age of the passengers.

In [ ]:
titanic.sort_values(by="Age").head()

I want to sort the Titanic data according to the cabin class and age in descending order.

In [ ]:
titanic.sort_values(by=["Pclass", "Age"], ascending=False).head()

With `Series.sort_values()`, the rows in the table are sorted according to the defined column(s). The index will follow the row order.


### Long to wide table format


Let’s use a small subset of the air quality data set. We focus on data and only use the first two measurements of each location (i.e. the head of each group). The subset of data will be called no2_subset

In [ ]:
# filter for no2 data only

no2 = air_quality[air_quality["parameter"] == "no2"]

In [ ]:
# use 2 measurements (head) for each location (groupby)

no2_subset = no2.sort_index().groupby(["location"]).head(2)

In [ ]:
no2_subset

![](07_pivot.svg)

I want the values for the three stations as separate columns next to each other

In [ ]:
no2_subset.pivot(columns="location", values="value")

The `pivot()` function is purely reshaping of the data: a single value for each index/column combination is required.

As pandas support plotting of multiple columns (see plotting tutorial) out of the box, the conversion from long to wide table format enables the plotting of the different time series at the same time:

In [ ]:
no2.head()

In [ ]:
no2.pivot(columns="location", values="value").plot();

<div class='alert alert-info'>

When the index parameter is not defined, the existing index (row labels) is used.

</div>

### Pivoter la table

![](07_pivot_table.svg)


I want the mean concentrations for $NO_2$ and $PM_{2.5}$ in each of the stations in table form

In [ ]:
air_quality.pivot_table(
    values="value", index="location", columns="parameter", aggfunc="mean"
)

In the case of pivot(), the data is only rearranged. When multiple values need to be aggregated (in this specific case, the values on different time steps) pivot_table() can be used, providing an aggregation function (e.g. mean) on how to combine these values.

Pivot table is a well known concept in spreadsheet software. When interested in summary columns for each variable separately as well, put the margin parameter to True:

In [ ]:
air_quality.pivot_table(
    values="value",
    index="location",
    columns="parameter",
    aggfunc="mean",
    margins=True,
)

In case you are wondering, pivot_table() is indeed directly linked to groupby(). The same result can be derived by grouping on both parameter and location:

`air_quality.groupby(["parameter", "location"]).mean()`

### Wide to long format

Starting again from the wide format table created in the previous section:

In [ ]:
no2_pivoted = no2.pivot(columns="location", values="value").reset_index()

no2_pivoted.head()

![](07_melt.svg)

I want to collect all air quality $NO_2$ measurements in a single column (long format)

In [ ]:
no_2 = no2_pivoted.melt(id_vars="date.utc")
no_2.head()

    The pandas.melt() method on a DataFrame converts the data table from wide format to long format. The column headers become the variable names in a newly created column.

The solution is the short version on how to apply pandas.melt(). The method will melt all columns NOT mentioned in id_vars together into two columns: A column with the column header names and a column with the values itself. The latter column gets by default the name value.

The pandas.melt() method can be defined in more detail:

In [ ]:
no_2 = no2_pivoted.melt(
    id_vars="date.utc",
    value_vars=["BETR801", "FR04014", "London Westminster"],
    value_name="NO_2",
    var_name="id_location",
)

no_2.head()

The result in the same, but in more detail defined:

- value_vars defines explicitly which columns to melt together
- value_name provides a custom column name for the values column instead of the default column name value
- var_name provides a custom column name for the column collecting the column header names. Otherwise it takes the index name or a default variable

Hence, the arguments value_name and var_name are just user-defined names for the two generated columns. The columns to melt are defined by id_vars and value_vars.

<div class='alert alert-info'>

- Sorting by one or more columns is supported by sort_values
- The pivot function is purely restructuring of the data, pivot_table supports aggregations
- The reverse of pivot (long to wide format) is melt (wide to long format)


</div>

## How to combine data from multiple tables?

Données pour cette section :

In [ ]:
# téléchargement d'un fichier CSV
!curl https://raw.githubusercontent.com/pandas-dev/pandas/main/doc/data/air_quality_no2_long.csv > data/air_quality_no2_long.csv

### Données Nitrate

In [ ]:
air_quality_no2 = pd.read_csv("data/air_quality_no2_long.csv", parse_dates=True)

air_quality_no2 = air_quality_no2[["date.utc", "location", "parameter", "value"]]

air_quality_no2.head()

### Données particules

In [ ]:
# téléchargement d'un fichier CSV
!curl https://raw.githubusercontent.com/pandas-dev/pandas/main/doc/data/air_quality_pm25_long.csv > data/air_quality_pm25_long.csv

In [ ]:
air_quality_pm25 = pd.read_csv("data/air_quality_pm25_long.csv", parse_dates=True)


air_quality_pm25 = air_quality_pm25[["date.utc", "location", "parameter", "value"]]


air_quality_pm25.head()

### Concatenation d'objets `DataFrame`

![](08_concat_row.svg)

I want to combine the measurements of and , two tables with a similar structure, in a single table

In [ ]:
air_quality = pd.concat([air_quality_pm25, air_quality_no2], axis=0)

air_quality.head()


The concat() function performs concatenation operations of multiple tables along one of the axis (row-wise or column-wise).

By default concatenation is along axis 0, so the resulting table combines the rows of the input tables. Let’s check the shape of the original and the concatenated tables to verify the operation:

In [ ]:
print("Shape of the ``air_quality_pm25`` table: ", air_quality_pm25.shape)

print("Shape of the ``air_quality_no2`` table: ", air_quality_no2.shape)

print("Shape of the resulting ``air_quality`` table: ", air_quality.shape)

Hence, the resulting table has 3178 = 1110 + 2068 rows.

<div class='alert alert-info'>


The axis argument will return in a number of pandas methods that can be applied along an axis. A DataFrame has two corresponding axes: the first running vertically downwards across rows (axis 0), and the second running horizontally across columns (axis 1). Most operations like concatenation or summary statistics are by default across rows (axis 0), but can be applied across columns as well.

</div>

Sorting the table on the datetime information illustrates also the combination of both tables, with the parameter column defining the origin of the table (either no2 from table air_quality_no2 or pm25 from table air_quality_pm25):

In [ ]:
air_quality = air_quality.sort_values("date.utc")
air_quality.head()

In this specific example, the parameter column provided by the data ensures that each of the original tables can be identified. This is not always the case. the concat function provides a convenient solution with the keys argument, adding an additional (hierarchical) row index. For example:

In [ ]:
air_quality_ = pd.concat([air_quality_pm25, air_quality_no2], keys=["PM25", "NO2"])
air_quality_.head()

<div class='alert alert-info'>

The existence of multiple row/column indices at the same time has not been mentioned within these tutorials. Hierarchical indexing or MultiIndex is an advanced and powerful pandas feature to analyze higher dimensional data.

Multi-indexing is out of scope for this pandas introduction. For the moment, remember that the function reset_index can be used to convert any level of an index to a column, e.g. air_quality.reset_index(level=0)

</div>

### Join tables using a common identifier

![](08_merge_left.svg)

Add the station coordinates, provided by the stations metadata table, to the corresponding rows in the measurements table.

<div class='alert alert-warning'>

The air quality measurement station coordinates are stored in a data file air_quality_stations.csv, downloaded using the py-openaq package.
    
</div>

In [ ]:
# téléchargement d'un fichier CSV
!curl https://raw.githubusercontent.com/pandas-dev/pandas/main/doc/data/air_quality_stations.csv  > data/air_quality_stations.csv

In [ ]:
stations_coord = pd.read_csv("data/air_quality_stations.csv")

stations_coord.head()

Suite à finir [ici](https://pandas.pydata.org/docs/getting_started/intro_tutorials/07_reshape_table_layout.html)