# Pandas Exercices

## Charger les données et apprendre à les connaître

Nous allons charger un jeu de donné accessible sur internet à cette adresse https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv

Ne téléchargez pas le fichier, nous alons demander à Pandas de le lire directement via son `url`.

### Importer la bibliothèque Pandas en tant que `pd`

### Étape 2 : charger le jeu de données depuis son url `https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv`

NB : c'est un fichier `tsv`, c'est à dire *tab separated values*. 

Les colonnes dans le fichier sont indiquées par le séparateur tabulation. Nous allons utiliser la fonction `pandas.read_csv(url, sep='\t')`. 

L’argument `sep='\t'` sert à indiquer à pandas où commence chaque colonne.

In [ ]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

### Assignez cette DataFrame à une variable appelée `chipo`

### Affichez les 10 premières lignes

### Quel est le nombre d'observation dans ce jeu de données ?

### Combien y-a-t'il de colonnes dans ce jeu de données ?

### Quelles sont les colonnes ?

### Quel est l'index de cette DataFrame ?

### Quel est l’item commandé le plus souvent ?

Essayez d'extraire ce nombre exact en dehors de la DataFrame en sélectionnant la colonne "quantity".

### Quel a été l’objet le plus souvent commandé dans la colonne "choice_description" ?

### Combien d'items ont été commandé en tout ?

### La colonne "item_price" contient des strings à cause du symbole dollar. Essayons de transformer ça en `float`

Nous avons besoin d'une fonction qui pour un prix exprimé sous la forme `"$1.99"` nous renvoie un nombre float `1.99`.

Puis nous allons utiliser la méthode `.apply` sur la colonne des prix pour appliquer cette fonction à tous les éléments de la colonne.

Pour pouvez écrire la petite fonction avant, ou l'écrire directement dans l’argument de la méthode .apply avec une lambda.

Une fois qu'on a une méthode `apply(function)` qui nous renvoie une Series correcte, on s'en sert pour écraser la colonne `"item_price"`.

### Quel chiffre d'affaire a été fait dans ce jeu de données ?

### Combien de commandes ont été passées ? Autrement dit combien y-a-t'il de valeurs uniques dans la colonne `order_id` ?

### Quelle est le chiffre d'affaires moyen par commande ?

### Combien d'items différents sont proposés ?

## Classer et filtrer la donnée
Cette fois nous allons lire nos données directement de puis un fichier csv situé dans le même dossier.

Mais nous devons d'abord le télécharger.

In [ ]:
!curl https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv > euro.csv

### Chargez le fichier `euro.csv` que nous venons de télécharger dans une DataFrame appelée `euro12`

### Sélectionnez la colonne 'Goals'

### Combien y a-t'il d’équipes ?

### Combien de colonnes ?

### Créer une  DataFrame  `discipline`  contenant les colonnes  `['Team', 'Yellow Cards', 'Red Cards']`

### Dans `discipline`, classez les équipes par cartons rouges, puis par cartons jaunes, en décroissant.

### Calculez le nombre moyen de Cartons jaunes reçus par équipe

### Filtrez la DataFrame `euro12` sur les équipes ayant marqué plus de 6 buts

### Filtrez `euro12` sur les équipes qui commencent par `"G"`

### Sélectionnez les 7 premières colonnes

### Sélectionnez toutes les colonnes exceptées les 3 dernières

### Montrez  `["Team", "Shooting Accuracy"]`  pour les équipes `['England', 'Italy', 'Russia']`.